{% extends 'base.html.twig' %}

{% block title %}Edit Plat{% endblock %}

{% block body %}
    <h1>Edit Plat</h1>

    {{ include('restaurateur/plat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('restaurateur.plat.all', {'id': idRestaurant}) }}">back to list</a>

    {{ include('restaurateur/plat/_delete_form.html.twig') }}
{% endblock %}
