{% extends 'base.html.twig' %}

{% block title %}New Plat{% endblock %}

{% block body %}
    <h1>Create new Plat</h1>

    {{ include('restaurateur/plat/_form.html.twig') }}

    <a href="{{ path('restaurateur.index') }}">back to list</a>
{% endblock %}
