figcaption {
    background-image: url('https://i.pinimg.com/originals/ab/8a/fc/ab8afc7ef92d0bcdcafaac220c62c194.png');
    background-size: cover;
    padding: 1em;
    position: relative;
    height: 100vh;
}

.home-cta h1 {
    font-size: 25x;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(3, 28, 110);
}

.arrondi {
    color: rgb(3, 28, 110);
    font-size: 25x;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    border-color:transparent;
    margin-top: 1em;
}

.recherche {
    position: absolute;
	  top: 50%;
	  left: 0;
	  right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
}
.search {
    color: rgb(3, 28, 110);
    font-size: 25x;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    border-color:transparent;
    height: 60px;
    width: 500px;
}
.btn-search {
    background-color: rgb(3, 28, 110);
    border-radius: 50px;
    border-color:transparent;
    height: 60px;
    width: 60px;
    margin-left: 0.5em;
}
svg {
    color: #fff;

}