.recherche {
    display: flex;
    align-content: center;
}
.boutton {
    flex-direction: column;
    align-items: flex-end;}

.login-illustration {
    height: 100%;
}
img {
   width: 100%;
}

.btn {
    width : 200px;
}

.btn-1 {
    margin: 1em;
    margin-bottom: 1em;

}
/* OrderMore page */
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
    margin: 0 20px;
  }

  
h3 {
    font-size: 25x;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    color: rgb(20,33,61) ;
}