{% extends 'base.html.twig' %}

{% block title %}PAKI PAKI{% endblock %}

{% block body %}

<figcaption class="section">
	<div class="d-flex justify-content-between">
		<div class="home-cta">
			<h1>PAKI PAKI</h1>
		</div>
        <div class="login">
			<h1>Connexion</h1>
		</div>
	</div>
</figcaption>

  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
