.profil {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info {
  margin-left: 10px;
}


thead {
  color:white;
}
.order {
   margin: 1em;
}
a {
  color:black;
}
.btn {
  background-color: rgb(252,163,17);
  color:white;  
}