{% extends 'base.html.twig' %}

{% block title %}Ajouter un Restaurant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ asset('css/admin/adminForm.css') }}" />
{% endblock %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">

                <h1>Ajouter un restaurant</h1>            
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin.dashboard') }}">Tableau de Bord</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('restaurateur.restaurant.all') }}">Liste de mes Restaurants</a></li>
                    <li class="breadcrumb-item active">Ajouter un nouveau restaurant</li>
                </ol>
                
                <div class="cart">
                    {{ include('restaurateur/restaurant/_form.html.twig') }}
                </div>
                
            </div>
        </div>
    </div>
    
{% endblock %}
