<div class="card">
    <img class="card-img-top" src="{{ asset('uploads/' ~ plat.image) }}" alt="">
    <div class="card-footer">
      <small class="text-muted">Notation :  {{plat.noteMoyenne}}</small>
    </div>
    <div class="card-body d-flex">
      <h5 class="card-title">{{plat.name}} | </h5>
      <p class="card-text">{{plat.price}} €</p>
    </div>
</div>

  