<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}PAKI PAKI{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/logo.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% block stylesheets %}
       
    {% endblock %}

  </head>
  <header>

    {% if app.user == null or 'ROLE_USER' in app.user.roles %}
			 {{ include('nav.html.twig') }}
		{% endif %}

    {% if app.user %}

      {% if 'ROLE_ADMIN' in app.user.roles %}
        {{ include('adminNav.html.twig') }}
      {% endif %}

      {% if 'ROLE_RESTAURANT' in app.user.roles %}
        {{ include('restaurateurNav.html.twig') }}
      {% endif %}

    {% endif %}
      
  </header>
  <body>
    {% block body %}{% endblock %}
    
    {% block javascripts %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
</html>
